# Access Table Properties

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv")
EPL = EPL.sort_values(by=["Points", "GoalDifference"], ascending=False)
EPL.head()

                Team  Points  GoalDifference
0     Leicester City      81              32
1            Arsenal      71              29
2  Tottenham Hotspur      70              34
3    Manchester City      66              30
4  Manchester United      66              14

In [3]:
teamInfo = pd.read_csv("./data/EPLteams.csv", encoding='latin-1')
teamInfo.head()

,Team,Payroll_M__,Manager,ManagerHireDate,ManagerNationality
0,Leicester City,48.2,Claudio Ranieri,07/13/2015,Italy
1,Arsenal,192.0,Arsène Wenger,10/01/1996,France
2,Tottenham Hotspur,110.5,Mauricio Pochettino,05/27/2014,Argentina
3,Manchester City,193.8,Manuel Pellegrini,06/14/2013,Chile
4,Manchester United,203.0,Louis van Gaal,07/14/2014,Netherlands

We can get the information from a DataFrame using the [info()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html#pandas-dataframe-info) function.

In [4]:
EPL.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Team            20 non-null     object
 1   Points          20 non-null     int64
 2   GoalDifference  20 non-null     int64
dtypes: int64(2), object(1)
memory usage: 640.0+ bytes

We can also access specific DataFrame properties using dot notation.

In [5]:
EPL.columns

Index(['Team', 'Points', 'GoalDifference'], dtype='object')

In [6]:
teamInfo.columns

Index(['Team', 'Payroll_M__', 'Manager', 'ManagerHireDate',
       'ManagerNationality'],
      dtype='object')