# Winning Records

In [1]:
import pandas as pd

In [2]:
results = pd.read_csv("./data/results.csv")
results

,Team,homeWins,homeLosses,homeDraws,awayWins,awayLosses,awayDraws
0,Leicester City,12,1,6,11,2,6
1,Arsenal,12,3,4,8,4,7
2,Tottenham Hotspur,10,3,6,9,3,7
3,Manchester City,12,5,2,7,5,7
4,Manchester United,12,2,5,7,8,4
5,Southampton,11,5,3,7,6,6
6,West Ham United,9,3,7,7,5,7
7,Liverpool,8,3,8,8,7,4
8,Stoke City,8,7,4,6,8,5
9,Chelsea,5,5,9,7,7,5
10,Everton,6,8,5,5,5,9
11,Swansea City,8,5,6,4,10,5
12,Watford,6,7,6,6,10,3
13,West Bromwich Albion,6,8,5,4,7,8
14,Bournemouth,5,9,5,6,9,4
15,Crystal Palace,6,10,3,5,8,6
16,Sunderland,6,7,6,3,10,6
17,Newcastle United,7,5,7,2,14,3
18,Norwich City,6,8,5,3,14,2
19,Aston Villa,2,12,5,1,15,3

In [3]:
home_winning = results.homeWins > results.homeLosses
home_winning

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
dtype: bool

In [4]:
away_winning = results.awayWins > results.awayLosses
away_winning

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [5]:
winning = home_winning & away_winning
winning

0      True
1      True
2      True
3      True
4     False
5      True
6      True
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [6]:
home_winning_only = home_winning & ~away_winning
home_winning_only

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8      True
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17     True
18    False
19    False
dtype: bool