# Counting true Values

In [1]:
import pandas as pd

In [2]:
results = pd.read_csv("./data/results.csv")
results

,Team,homeWins,homeLosses,homeDraws,awayWins,awayLosses,awayDraws
0,Leicester City,12,1,6,11,2,6
1,Arsenal,12,3,4,8,4,7
2,Tottenham Hotspur,10,3,6,9,3,7
3,Manchester City,12,5,2,7,5,7
4,Manchester United,12,2,5,7,8,4
5,Southampton,11,5,3,7,6,6
6,West Ham United,9,3,7,7,5,7
7,Liverpool,8,3,8,8,7,4
8,Stoke City,8,7,4,6,8,5
9,Chelsea,5,5,9,7,7,5
10,Everton,6,8,5,5,5,9
11,Swansea City,8,5,6,4,10,5
12,Watford,6,7,6,6,10,3
13,West Bromwich Albion,6,8,5,4,7,8
14,Bournemouth,5,9,5,6,9,4
15,Crystal Palace,6,10,3,5,8,6
16,Sunderland,6,7,6,3,10,6
17,Newcastle United,7,5,7,2,14,3
18,Norwich City,6,8,5,3,14,2
19,Aston Villa,2,12,5,1,15,3

In [3]:
home_winning = results.homeWins > results.homeLosses
away_winning = results.awayWins > results.awayLosses

We can use the function [any()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.any.html#pandas-dataframe-any) to find if any of the elements in a logical vector are true.

In [4]:
home_winning_last10 = home_winning.tail(10).any()
home_winning_last10

True

We can use the function [all()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.all.html#pandas-dataframe-all) to find if all the elements in a logical vector are true.

In [5]:
home_winning_top10 = home_winning.head(10).all()
home_winning_top10

False

We can use the function [sum()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html#pandas-dataframe-sum) to count the Number of Non-Zero values in an array, or the number of true values in an array.

In [6]:
number_home_losing = (~home_winning).head(10).sum()
number_home_losing

1

We can make the commands more compact by combining these steps.

In [7]:
strong_at_home = (results.homeLosses < 3).sum()
strong_at_home

2