# Removing NaNs from Usage Data

In [1]:
import pandas as pd

In [2]:
usage = pd.read_excel("./data/electricityData.xlsx", sheet_name="usage", header=None)
usage

             0          1          2           3
0    3078100.0  2016100.0  2425400.0   7770200.0
1    2660700.0  2032600.0  2664500.0   7620100.0
2    2319400.0  1870300.0  2478800.0   6905400.0
3    2173000.0  1882700.0  2541300.0   6835700.0
4    2028400.0  1901300.0  2540600.0   6714600.0
..         ...        ...        ...         ...
310  3079400.0  3464700.0  2545900.0   9110300.0
311  3581700.0  3429430.0  2449100.0   9480300.0
312  4219200.0  3559200.0  2460900.0  10260000.0
313  3997000.0  3563400.0  2561800.0  10145000.0
314        NaN        NaN  2458700.0   9104900.0

[315 rows x 4 columns]

Each column of the matrix usage contains electricity usage for a given sector. Some Pandas functions ignore missing values for calculations like the average.

In [3]:
usage_mean = usage.mean()
usage_mean

0    3.357894e+06
1    3.036449e+06
2    2.737373e+06
3    9.267838e+06
dtype: float64

In [4]:
usage.dropna(axis=0, inplace=True)
usage

             0          1          2           3
0    3078100.0  2016100.0  2425400.0   7770200.0
1    2660700.0  2032600.0  2664500.0   7620100.0
2    2319400.0  1870300.0  2478800.0   6905400.0
3    2173000.0  1882700.0  2541300.0   6835700.0
4    2028400.0  1901300.0  2540600.0   6714600.0
..         ...        ...        ...         ...
309  3196000.0  3637400.0  2610200.0   9464200.0
310  3079400.0  3464700.0  2545900.0   9110300.0
311  3581700.0  3429430.0  2449100.0   9480300.0
312  4219200.0  3559200.0  2460900.0  10260000.0
313  3997000.0  3563400.0  2561800.0  10145000.0

[284 rows x 4 columns]

In [5]:
usage_mean = usage.mean()
usage_mean

0    3.360801e+06
1    3.036172e+06
2    2.734450e+06
3    9.279670e+06
dtype: float64