# Manager Tenure

In [26]:
import pandas as pd
import numpy as np

In [9]:
manager_hire_date = pd.to_datetime(pd.read_csv("./data/EPLtable.csv", encoding='latin-1')["ManagerHireDate"])
manager_hire_date

0    2015-07-13
1    1996-10-01
2    2014-05-27
3    2013-06-14
4    2014-07-14
5    2014-06-16
6    2015-06-09
7    2015-10-08
8    2013-05-30
9    2015-12-19
10   2016-05-12
11   2016-01-18
12   2015-06-05
13   2015-01-01
14   2015-01-02
15   2012-10-12
16   2015-10-09
17   2016-03-11
18   2015-01-09
19   2016-03-29
Name: ManagerHireDate, dtype: datetime64[ns]

In [10]:
season_start = pd.to_datetime("2015-08-08")
season_start

Timestamp('2015-08-08 00:00:00')

In [15]:
manager_hire_date.sort_values(inplace=True, ignore_index=True)
manager_hire_date

0    1996-10-01
1    2012-10-12
2    2013-05-30
3    2013-06-14
4    2014-05-27
5    2014-06-16
6    2014-07-14
7    2015-01-01
8    2015-01-02
9    2015-01-09
10   2015-06-05
11   2015-06-09
12   2015-07-13
13   2015-10-08
14   2015-10-09
15   2015-12-19
16   2016-01-18
17   2016-03-11
18   2016-03-29
19   2016-05-12
Name: ManagerHireDate, dtype: datetime64[ns]

In [22]:
t1 = manager_hire_date[1] - manager_hire_date[0]
t1

Timedelta('5855 days 00:00:00')

In [20]:
t2 = manager_hire_date.iloc[-1] - manager_hire_date[0]
t2

Timedelta('7163 days 00:00:00')

In [28]:
y1 = t1 / np.timedelta64(1, 'Y')
y1

16.030445525917713

In [29]:
y2 = t2 / np.timedelta64(1, 'Y')
y2

19.61162789105868

In [30]:
tenure = season_start - manager_hire_date
tenure

0    6885 days
1    1030 days
2     800 days
3     785 days
4     438 days
5     418 days
6     390 days
7     219 days
8     218 days
9     211 days
10     64 days
11     60 days
12     26 days
13    -61 days
14    -62 days
15   -133 days
16   -163 days
17   -216 days
18   -234 days
19   -278 days
Name: ManagerHireDate, dtype: timedelta64[ns]