# Premier League 2015-16 Season

In [1]:
import pandas as pd

In [2]:
team_info = pd.read_csv("./data/EPLteams.csv", encoding='latin-1')
team_info = team_info.iloc[:, [2, 4]]
team_info.head()

         Manager ManagerNationality
0  Arsène Wenger             France
1     Eric Black           Scotland
2     Eddie Howe            England
3   Guus Hiddink        Netherlands
4    Alan Pardew            England

In [3]:
team_info.ManagerNationality.value_counts()

England        4
Netherlands    3
Scotland       2
Italy          2
Spain          2
Wales          2
France         1
Germany        1
Chile          1
Argentina      1
Croatia        1
Name: ManagerNationality, dtype: int64

How many managers are from the United Kingdom (UK)? We can combine the UK managers into one category, then view the categories to see.

In [4]:
map_dict = {}
for x in team_info.ManagerNationality:
    if x in ["England", "Scotland", "Wales"]:
        map_dict[x] = "UK"
    else:
        map_dict[x] = x

team_info['ManagerNationality'] = team_info['ManagerNationality'].map(map_dict).astype('category')
team_info.head()

         Manager ManagerNationality
0  Arsène Wenger             France
1     Eric Black                 UK
2     Eddie Howe                 UK
3   Guus Hiddink        Netherlands
4    Alan Pardew                 UK

In [5]:
team_info.ManagerNationality.value_counts()

UK             8
Netherlands    3
Italy          2
Spain          2
Argentina      1
Chile          1
Croatia        1
France         1
Germany        1
Name: ManagerNationality, dtype: int64