# Creating datetime Arrays

In [1]:
import pandas as pd

We can also specify the time using the [to_datetime()](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas-to-datetime) function.

In [2]:
d = pd.to_datetime("2016-02-29 17:00:00")
d

Timestamp('2016-02-29 17:00:00')

We can create arrays of type datetime as well.

In [3]:
d2 = pd.to_datetime(pd.DataFrame({'year': [1999, 2000, 2001], 'month': [2]*3, 'day': [1]*3}))
d2

0   1999-02-01
1   2000-02-01
2   2001-02-01
dtype: datetime64[ns]

In [4]:
d3 = pd.to_datetime(pd.DataFrame({'year': [1975]*4, 'month': [1]*4, 'day': [1, 2, 3, 4]}))
d3

0   1975-01-01
1   1975-01-02
2   1975-01-03
3   1975-01-04
dtype: datetime64[ns]

In [5]:
d4 = pd.to_datetime(pd.DataFrame({'year': [1990]*12, 'month': [i for i in range(1, 13)], 'day': [1]*12}))
d4

0    1990-01-01
1    1990-02-01
2    1990-03-01
3    1990-04-01
4    1990-05-01
5    1990-06-01
6    1990-07-01
7    1990-08-01
8    1990-09-01
9    1990-10-01
10   1990-11-01
11   1990-12-01
dtype: datetime64[ns]