# Using sort_values

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv", dtype={'Team': str})
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Arsenal',12,4,3,31,11,8,7,4,34,25
1,'Aston Villa',2,5,12,14,35,1,3,15,13,41
2,'Bournemouth',5,5,9,23,34,6,4,9,22,33
3,'Chelsea',5,9,5,32,30,7,5,7,27,23
4,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
5,'Everton',6,5,8,35,30,5,9,5,24,25
6,'Leicester City',12,6,1,35,18,11,6,2,33,18
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Manchester City',12,2,5,47,21,7,7,5,24,20
9,'Manchester United',12,5,2,27,9,7,4,8,22,26
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Norwich City',6,5,8,26,30,3,2,14,13,37
12,'Southampton',11,3,5,39,22,7,6,6,20,19
13,'Stoke City',8,4,7,22,24,6,5,8,19,31
14,'Sunderland',6,6,7,23,20,3,6,10,25,42
15,'Swansea City',8,6,5,20,20,4,5,10,22,32
16,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
17,'Watford',6,6,7,20,19,6,3,10,20,31
18,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
19,'West Ham United',9,7,3,34,26,7,7,5,31,25

We can sort a table on a specific variable using the [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html#pandas-dataframe-sort-values) function.

In [3]:
winners = EPL.sort_values(by='HomeWins', ignore_index=True)
winners

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Aston Villa',2,5,12,14,35,1,3,15,13,41
1,'Bournemouth',5,5,9,23,34,6,4,9,22,33
2,'Chelsea',5,9,5,32,30,7,5,7,27,23
3,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
4,'Everton',6,5,8,35,30,5,9,5,24,25
5,'Watford',6,6,7,20,19,6,3,10,20,31
6,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
7,'Norwich City',6,5,8,26,30,3,2,14,13,37
8,'Sunderland',6,6,7,23,20,3,6,10,25,42
9,'Newcastle United',7,7,5,32,24,2,3,14,12,41
10,'Liverpool',8,8,3,33,22,8,4,7,30,28
11,'Stoke City',8,4,7,22,24,6,5,8,19,31
12,'Swansea City',8,6,5,20,20,4,5,10,22,32
13,'West Ham United',9,7,3,34,26,7,7,5,31,25
14,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
15,'Southampton',11,3,5,39,22,7,6,6,20,19
16,'Arsenal',12,4,3,31,11,8,7,4,34,25
17,'Leicester City',12,6,1,35,18,11,6,2,33,18
18,'Manchester City',12,2,5,47,21,7,7,5,24,20
19,'Manchester United',12,5,2,27,9,7,4,8,22,26

To put the top teams at the top of the table, we need to sort in descending order.

In [4]:
winners = EPL.sort_values(by='HomeWins', ascending=False, ignore_index=True)
winners

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Arsenal',12,4,3,31,11,8,7,4,34,25
1,'Leicester City',12,6,1,35,18,11,6,2,33,18
2,'Manchester United',12,5,2,27,9,7,4,8,22,26
3,'Manchester City',12,2,5,47,21,7,7,5,24,20
4,'Southampton',11,3,5,39,22,7,6,6,20,19
5,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
6,'West Ham United',9,7,3,34,26,7,7,5,31,25
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Stoke City',8,4,7,22,24,6,5,8,19,31
9,'Swansea City',8,6,5,20,20,4,5,10,22,32
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Everton',6,5,8,35,30,5,9,5,24,25
12,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
13,'Norwich City',6,5,8,26,30,3,2,14,13,37
14,'Sunderland',6,6,7,23,20,3,6,10,25,42
15,'Watford',6,6,7,20,19,6,3,10,20,31
16,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
17,'Chelsea',5,9,5,32,30,7,5,7,27,23
18,'Bournemouth',5,5,9,23,34,6,4,9,22,33
19,'Aston Villa',2,5,12,14,35,1,3,15,13,41

To sort by a second variables, we can supply them in order to the [sort_values()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html#pandas-dataframe-sort-values) function as a string list.

In [5]:
winners = EPL.sort_values(by=["HomeWins", "AwayWins"], ascending=False, ignore_index=True)
winners

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Leicester City',12,6,1,35,18,11,6,2,33,18
1,'Arsenal',12,4,3,31,11,8,7,4,34,25
2,'Manchester City',12,2,5,47,21,7,7,5,24,20
3,'Manchester United',12,5,2,27,9,7,4,8,22,26
4,'Southampton',11,3,5,39,22,7,6,6,20,19
5,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
6,'West Ham United',9,7,3,34,26,7,7,5,31,25
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Stoke City',8,4,7,22,24,6,5,8,19,31
9,'Swansea City',8,6,5,20,20,4,5,10,22,32
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Watford',6,6,7,20,19,6,3,10,20,31
12,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
13,'Everton',6,5,8,35,30,5,9,5,24,25
14,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
15,'Norwich City',6,5,8,26,30,3,2,14,13,37
16,'Sunderland',6,6,7,23,20,3,6,10,25,42
17,'Chelsea',5,9,5,32,30,7,5,7,27,23
18,'Bournemouth',5,5,9,23,34,6,4,9,22,33
19,'Aston Villa',2,5,12,14,35,1,3,15,13,41