# Create Tables from Variables

In [1]:
import pandas as pd

In [2]:
team = pd.read_excel("./data/data.xlsx", sheet_name='team', header=None).to_numpy()
wins = pd.read_excel("./data/data.xlsx", sheet_name='w', header=None).to_numpy()
WDL = pd.read_excel("./data/data.xlsx", sheet_name='WDL', header=None).to_numpy()

We can organize our workspace variables into a DataFrame with the [DataFrame()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas-dataframe) function.

In [3]:
team_wins = pd.DataFrame({'team':team.squeeze(), 'wins':wins.squeeze()})
team_wins

                team  wins
0            Arsenal    20
1            Chelsea    12
2     Leicester City    23
3  Manchester United    19

We can use the [DataFrame()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas-dataframe) function to convert an array to a DataFrame.

In [4]:
stats = pd.DataFrame(WDL)
stats

    0   1   2
0  20  11   7
1  12  14  12
2  23  12   3
3  19   9  10

We can set the column names in the DataFrame.

In [5]:
stats = pd.DataFrame(WDL, columns=["Wins", "Draws", "Losses"])
stats

   Wins  Draws  Losses
0    20     11       7
1    12     14      12
2    23     12       3
3    19      9      10