# Using Dot Notation

In [1]:
import pandas as pd

In [2]:
EPL = pd.read_csv("./data/EPLresults.csv", dtype={'Team': str})
EPL = EPL.sort_values(by=["HomeWins", "AwayWins"], ascending=False, ignore_index=True)
EPL

,Team,HomeWins,HomeDraws,HomeLosses,HomeGF,HomeGA,AwayWins,AwayDraws,AwayLosses,AwayGF,AwayGA
0,'Leicester City',12,6,1,35,18,11,6,2,33,18
1,'Arsenal',12,4,3,31,11,8,7,4,34,25
2,'Manchester City',12,2,5,47,21,7,7,5,24,20
3,'Manchester United',12,5,2,27,9,7,4,8,22,26
4,'Southampton',11,3,5,39,22,7,6,6,20,19
5,'Tottenham Hotspur',10,6,3,35,15,9,7,3,34,20
6,'West Ham United',9,7,3,34,26,7,7,5,31,25
7,'Liverpool',8,8,3,33,22,8,4,7,30,28
8,'Stoke City',8,4,7,22,24,6,5,8,19,31
9,'Swansea City',8,6,5,20,20,4,5,10,22,32
10,'Newcastle United',7,7,5,32,24,2,3,14,12,41
11,'Watford',6,6,7,20,19,6,3,10,20,31
12,'Crystal Palace',6,3,10,19,23,5,6,8,20,28
13,'Everton',6,5,8,35,30,5,9,5,24,25
14,'West Bromwich Albion',6,5,8,20,26,4,8,7,14,22
15,'Norwich City',6,5,8,26,30,3,2,14,13,37
16,'Sunderland',6,6,7,23,20,3,6,10,25,42
17,'Chelsea',5,9,5,32,30,7,5,7,27,23
18,'Bournemouth',5,5,9,23,34,6,4,9,22,33
19,'Aston Villa',2,5,12,14,35,1,3,15,13,41

Let's extract home and away win statistics as numeric data to determine if there is a home field advantage.

In [3]:
home_wins = EPL.HomeWins
home_wins

0     12
1     12
2     12
3     12
4     11
5     10
6      9
7      8
8      8
9      8
10     7
11     6
12     6
13     6
14     6
15     6
16     6
17     5
18     5
19     2
Name: HomeWins, dtype: int64

In [4]:
average_home_wins = home_wins.mean()
average_home_wins

7.85

In [5]:
average_away_wins = EPL.AwayWins.mean()
average_away_wins

5.8

We can index using regular array indexing once the data has been extracted using dot notation.

In [6]:
average_top_HD = EPL.HomeDraws[:4].mean()
average_top_HD

4.25

In [7]:
average_bottom_HD = EPL.HomeDraws[-4:].mean()
average_bottom_HD

6.25

Teams win more at home than away on average. Is this true for a majority of teams?

In [8]:
home_advantage = EPL.HomeWins > EPL.AwayWins
home_advantage

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11    False
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19     True
dtype: bool

In [9]:
home_advantage_number = home_advantage.sum()
home_advantage_number

16